.ndc-checkbox {
  font-size: 14px;
  color: #333;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  &-input {
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    &:after {
      box-sizing: content-box;
      content: "";
      border: 1px solid #fff;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg) scaleY(0);
      width: 3px;
    }
    &.indeterminate {
      border-color: #3274e6;
      background-color: #3274e6;
      &:before {
        content: "";
        position: absolute;
        display: block;
        background-color: #fff;
        height: 2px;
        transform: scale(.5);
        left: 0;
        right: 0;
        top: 5px;
      }
    }
    &.checked {
      border-color: #3274e6;
      background-color: #3274e6;
      &:after {
        transform: rotate(45deg) scaleY(1);
      }
    }
    &.disabled {
      background-color: #edf2fc;
      border-color: #dcdfe6;
      cursor: not-allowed;
      &:after {
        cursor: not-allowed;
        border-color: #c0c4cc;
      }
    }
  }
  &-label {
    padding-left: 8px;
    line-height: 20px;
    &.disabled {
      color: #c0c4cc;
      cursor: not-allowed;
    }
  }
}