.ndc-form {
  &.ndc-form-left .label {
    text-align: left;
  }

  &-item {
    margin-bottom: 28px;
    position: relative;
    display: flex;

    .label {
      position: relative;
      padding-right: 20px;
      height: 32px;
      line-height: 32px;
      color: #999;
      font-size: 14px;
      text-align: right;
      cursor: default;

      &.required:after {
        content: "*";
        position: absolute;
        top: 2px;
        margin-left: 4px;
        color: #f00;
        font-size: 16px;
      }

      &-auto {
        width: auto;
      }

      &-2 {
        width: 100px;
      }

      &-3 {
        width: 110px;
      }

      &-4 {
        width: 120px;
      }

      &-5 {
        width: 140px;
      }

      &-6 {
        width: 160px;
      }
    }

    .content {
      position: relative;
      line-height: 32px;
      flex: 1;
      width: 0;
    }
  }
}