.ndc-tooltip {
  display: inline-block;
  cursor: pointer;
  &-main {
    position: fixed;
    z-index: 9;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #d8e2f0;
    box-shadow: 0 0 6px rgba(114, 151, 193, 0.1);
    border-radius: 4px;
    font-size: 12px;
    color: #303948;
    line-height: 1.5;
    white-space: nowrap;
    &:before {
      content: '';
      position: absolute;
      left: -6px;
      right: -6px;
      top: -6px;
      bottom: -6px;
    }
    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      margin: -4px;
      background-color: #fff;
      border-left: 1px solid #d8e2f0;
      border-top: 1px solid #d8e2f0;
    }
    &__top {
      transform: translate(-50%, 0);
      &:after {
        bottom: 0;
        left: 50%;
        transform: rotateZ(-135deg);
      }
    }
    &__bottom {
      transform: translate(-50%, 0);
      &:after {
        top: 0;
        left: 50%;
        transform: rotateZ(45deg);
      }
    }
    &__left {
      &:after {
        top: 12px;
        right: 0;
        transform: rotateZ(135deg);
      }
    }
    &__right {
      &:after {
        top: 12px;
        left: 0;
        transform: rotateZ(-45deg);
      }
    }
  }
}